variables:
  NACSOS_WWW_DIR:
    description: "Absolute path on server to public_html for nacsos frontend"
    value: "/var/www/nacsos"
  VITE_NACSOS_BASE_URL:
    description: "Complete URL to nacsos-web"
    value: "http://127.0.0.1:8080"
  VITE_NACSOS_CORE_URL:
    description: "Complete URL to nacsos-core backend"
    value: "http://127.0.0.1:8081"

image: node:24-alpine

before_script:
  - apk add rsync

stages:
  - build
  - test
  - deploy

cache:
  paths:
    - node_modules/
    - dist/

build-job:
  stage: build
  tags:
    - se164-docker
  script:
    - echo "Building the static sources"
    - export NODE_ENV=development
    - npm install
    - npm ls
    - ncu
    - npm run build-only
  artifacts:
    paths:
      - dist/
    expire_in: 1 hours

test-lint:
  stage: test
  tags:
    - se164-docker
  script:
    - npm run lint

test-typing:
  stage: test
  tags:
    - se164-docker
  script:
    - npm run type-check

deploy-to-production:
  tags:
    - se164-bare
  stage: deploy
  script:
    - echo "Deploying to production"
    - ls -lisah
    - ls -lisah dist
    - /bin/chown -R gitlab-runner "${NACSOS_WWW_DIR}"
    - ls -lisah
    - rsync -av dist/ "${NACSOS_WWW_DIR}"
    - ls -lisah
    - /bin/chown -R nacsos "${NACSOS_WWW_DIR}"
  when: manual
  only:
    - production
