variables:
  NACSOS_WWW_DIR:
    description: "Absolute path on server to public_html for nacsos frontend"
    value: "/var/www/nacsos"
  VITE_NACSOS_BASE_URL:
    description: "Complete URL to nacsos-web"
    value: "http://127.0.0.1:8080"
  VITE_NACSOS_CORE_URL:
    description: "Complete URL to nacsos-core backend"
    value: "http://127.0.0.1:8081"
  NODE_ENV: "development"

.npm:
  image: node:24-alpine
  tags:
    - se164-docker
  before_script:
    - npm ci --cache .npm
    - npm ls
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .npm/

stages:
  - setup
  - test
  - build
  - deploy

prepare:
  extends: .npm
  stage: setup
  script:
    - echo "Building the static sources"
    - npx npm-check-updates
  only:
    - production

test-lint:
  stage: test
  extends: .npm
  script:
    - npm run lint
  only:
    - production

test-typing:
  stage: test
  extends: .npm
  script:
    - npm run type-check
  only:
    - production

build:
  extends: .npm
  stage: build
  script:
    - export NODE_ENV=production
    - npm run build
  artifacts:
    untracked: true
    expire_in: 1 day
    paths:
      - dist/

deploy-to-production:
  tags:
    - se164-bare
  stage: deploy
  dependencies:
    - build
  script:
    - echo "Deploying to production"
    - ls -lisah
    - ls -lisah dist
    - /bin/chown -R gitlab-runner "${NACSOS_WWW_DIR}"
    - ls -lisah
    - rsync -av dist/ "${NACSOS_WWW_DIR}"
    - ls -lisah
    - /bin/chown -R nacsos "${NACSOS_WWW_DIR}"
  when: manual
  #only:
  #  - production
