# This file is a template, and might need editing before it works on your project.
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Python.gitlab-ci.yml

# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
image: node:22-alpine

before_script:
  - apk add lftp

stages:
  - build
  - test
  - deploy

cache:
  paths:
    - node_modules/

build-job:
  stage: build
  script:
    - echo "Building the static sources"
    - npm install
    - npm run build-only
  artifacts:
    paths:
      - dist/
    expire_in: 24 hours

test-job1:
  stage: test
  script:
    - npm run lint

test-job2:
  stage: test
  script:
    - npm run type-check

deploy-to-production:
  stage: deploy
  script:
    - echo "Deploying to production"
    - lftp --version
    - ls -lisah
    - ls -lisah dist
    - echo "$NACSOS_WEB_WWW"
    - echo "$FTP_HOSTNAME"
    - lftp -c "open -u $FTP_USERNAME,$FTP_PASSWORD $FTP_HOSTNAME; mirror -Renv dist/ $NACSOS_WEB_WWW"
  when: manual
  only:
    - production
