variables:
  NACSOS_WWW_DIR:
    description: "Absolute path on server to public_html for nacsos frontend"
    value: "/var/www/nacsos"
  VITE_NACSOS_BASE_URL:
    description: "Complete URL to nacsos-web"
    value: "http://127.0.0.1:8080"
  VITE_NACSOS_CORE_URL:
    description: "Complete URL to nacsos-core backend"
    value: "http://127.0.0.1:8081"

image: node:24-alpine

stages:
  - build
  - test
  - deploy

cache:
  paths:
    - node_modules/

build-job:
  tags:
    - se164-docker
  stage: build
  script:
    - echo "Building the static sources"
    - npm install
    - npm run build-only
  artifacts:
    paths:
      - dist/
    expire_in: 24 hours

test-job1:
  tags:
    - se164-docker
  stage: test
  script:
    - npm run lint

test-job2:
  tags:
    - se164-docker
  stage: test
  script:
    - npm run type-check

deploy-to-production:
  tags:
    - se164-bare
  stage: deploy
  script:
    - echo "Deploying to production"
    - ls -lisah
    - ls -lisah dist
    - /bin/chown -R gitlab-runner "${NACSOS_WWW_DIR}"
    - ls -lisah
    - rm -rf "${NACSOS_WWW_DIR}/*"
    - cp -r dist/ "${NACSOS_WWW_DIR}"
    - ls -lisah
    - /bin/chown -R nacsos "${NACSOS_WWW_DIR}"
  when: manual
  only:
    - production
